@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  [data-kb-theme="dark"] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.graph-viewer-btn-container {
  @apply flex flex-col h-1/5  gap-5 items-center
}

.tabs-bar {
  @apply flex items-center h-[5%] bg-gray-100 border-b w-full overflow-auto flex-row
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.tabs-bar::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Hide scrollbar for Firefox */
.tabs-bar {
  scrollbar-width: none; /* Hide scrollbar */
}

/* Hide scrollbar for Internet Explorer and older versions of Edge */
.tabs-bar {
  -ms-overflow-style: none; /* Hide scrollbar */
}

.tab {
  @apply flex flex-row justify-between items-center py-1 px-4 border-r gap-x-5 h-full
}

.alert-container {
  position: fixed;
  left: 50%;
  top: 10%;
  z-index: 1000; /* Ensure it's above other content */
  width: auto; /* Adjust width as needed */
  max-width: 300px; /* Adjust max width as needed */
}

.toolbox {
  @apply fixed z-[50] bottom-[5%] left-1/2 -translate-x-1/2 w-3/4 max-w-2xl bg-gray-100 border rounded-xl drop-shadow -translate-y-1/2 flex flex-row gap-5 p-3 items-center
}

.text-unselected {
  @apply text-slate-400 hover:text-slate-800
}

.text-selected {
  @apply text-slate-800
}